.banner-category {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path("bannerHome.jpg") %>');
  color: white;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 20px;
}

.banner-category h1, .banner-category h2 {
  margin: 0;
  padding: 10px 0;
}

.banner-category h2 {
  font-size: 25px;
}

.website-name {
  font-family: 'Lora', serif;
}
