.details-button {
  display: inline-block;
  margin: 10px 0;
  padding: 8px 15px;
  background-color: #313131;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #555;
}

.general-button {
  background-color: #313131;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.general-button:hover {
  background-color: #555;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.icon-button .edit-btn {
  color: #007bff;
}

.icon-button .edit-btn:hover {
  color: #0056b3;
}

.amazon-button a {
  display: inline-block;
  background-color: #FF9900; /* Amazon's color */
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.amazon-button a:hover {
  background-color: #E58C00;
}

.li-amazon{
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.li-amazon .btn {
  display: inline-block;
  margin-left: 10px; /* Space between the text and the button */
}

.general-button-show {
  background-color: #313131;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.general-button-show:hover {
  background-color: #555;
  color: #fff;
}
