.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 15px;
}

.card-body p {
  margin: 5px 0;
}

.recipe-card {
  background-color: white;
  border: 1px solid #ddd;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 10px;
}


.recipe-header {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F2C258;
  padding: 20px 20px 0px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #ddd;
}

.recipe-header h1 {
  margin: 0;
  font-size: 24px;
  color: #313131;
}

.recipe-image img {
  width: 350px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5%;
  border: 1px solid #ddd;
}

.ingredients-section {
  margin-top: 20px;
  padding-left: 20px;
}

.ingredients-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ingredients-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: auto;
  min-height: 200px;
}

.ingredients-list li {
  font-size: 16px;
  line-height: 1.5;
}

.instructions-section {
  margin-top: 20px;
  padding: 0 20px;
}

.instructions-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.video-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.padding-bottom-card {
  padding-bottom: 20px;
}

.padding-right-card {
  padding-right: 20px;
}

.padding-ingredients {
 height: 165px;
}

.ingredients-image img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5%;
}
