.footer {
  background-color: #F2C258;
  padding: 20px 0;
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid #313131;
  flex-shrink: 0;
  height: 80px;
}

.footer-title {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lora', serif;
  margin: 0;
}

.footer-center {
  display: flex;
  align-items: center;
}

.follow-us {
  font-size: 18px;
  margin-right: 10px;
  font-family: 'Lora', serif;
}

.social-icon {
  color: #313131;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #fff;
}

.footer-right {
  display: flex;
}

.footer-button {
  background-color: #313131;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
