// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "grid";
@import "card";
@import "button";
@import "bodyContainer";
@import "founders_card";
@import "banner";
@import "map";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FDFFF6;
}

.wrapper {
  min-height: calc(100vh - 360px);
}

.content {
  flex: 1 0 auto;
}
