.navbar-lewagon {
  justify-content: space-between;
  background: #F2C258;
  border-bottom: 2px solid #313131;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.navbar-brand .name {
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
  font-family: 'Lora', serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.avatar {
  margin-left: 10px;
}

.navbar-nav {
  align-items: center;
}
