.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: #F2C258;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.navbar-brand .name {
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
